<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="filename">${user.home}/.CorefAnnotator.log</Property>
		<Property name="loggername">de.unistuttgart.ims.coref.annotator.Annotator</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %M %-5level %logger{36} - %msg%n" />
		</Console>
		<File fileName="${sys:user.home}/.CorefAnnotator.log" append="true" name="File">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %M %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="${loggername}" level="info">
			<AppenderRef ref="File" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="Console" />	
		</Root>
	</Loggers>
</Configuration>